# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Coverage reports
coverage/
.nyc_output/

# Build folders
dist/
build/

# Optional: If you use uploads or temp file storage
uploads/
tmp/
